.container-login {
  display: grid;
  height: 100vh;
  justify-content: center;
  align-content: center;
  .login-form {
    padding: 20px;
    .form-control {
        display: inline-grid;
    }
    .forgot {
        text-align: right;
    }
  }
  .signup {
      margin: 50px 0px;
      text-align: center;
  }
}
