<alert type="danger" *ngIf="showAlert">
    Please enter a valid username/password and try submitting again.
</alert>
<div class="container-login bg-light">
  <form [formGroup]="loginForm" (ngSubmit)="login()" class="login-form">
    <div class="form-group">
      <label for="username"><b>Username</b></label>
      <input type="text" id="username" formControlName="username" class="form-control" />
    </div>
    <div class="form-group">
      <label for="password"><b>Password</b></label>
      <input type="password" id="password" formControlName="password" class="form-control" />
    </div>
    <div class="forgot">
      <a tabindex (click)="goToForgot()">Forgot Password?</a>
    </div>
    <div class="btn-group">
      <button value="submit" class="btn btn-primary">Login</button>
    </div>
  </form>
  <div class="signup">
      <a tabindex (click)="goToSignup()">Click here to Sign Up</a>
    </div>
</div>
