<footer class="page-footer fixed-bottom bg-secondary">
  <div class="container">
    <ul class="list-inline text-center">
      <li class="list-inline-item">
        <a tabindex (click)="goToHome()" class="footer-link"><i class="fa fa-home"></i></a>
      </li>
      <li class="list-inline-item">
        <a tabindex (click)="goToHome()" class="footer-link"><i class="fa fa-phone"></i></a>
      </li>
      <li class="list-inline-item">
        <a href="https://www.facebook.com" class="footer-link"><i class="fab fa-facebook"></i></a>
      </li>
      <li class="list-inline-item">
        <a href="https://www.twitter.com" class="footer-link"><i class="fab fa-twitter"></i></a>
      </li>
      <li class="list-inline-item">
        <a href="https://www.instagram.com" class="footer-link"><i class="fab fa-instagram"></i></a>
      </li>
    </ul>
    <div class="text-center py-3">
      <i class="fa fa-copyright"></i> 2019 Copyright: Boiler Plate for Angular 8
      Projects
    </div>
  </div>
</footer>