.navbar-customization {
    position: fixed;
    height: 100%;
    width: auto;
    .margin-left {
      padding-left: 20px;
    }
  }
  
  .nav-item {
    display: flex;
    font-size: 16px;
    cursor: pointer;
    color: #B9C1D0;
    padding: 12px;
    line-height: 100%;
    .fa {
      padding: 0px 10px;
    }
    .row {
      margin-left: 0px;
    }
    div {
      &:hover {
        color: #999c9c;
      }
    }
  }
  