<div class="container-forgot bg-light">
  <div class="forgot-title">Reset your password</div>
  <form [formGroup]="forgotForm" class="forgot-form" (ngSubmit)="forgot()">
    <div class="form-group">
      <label for="phone"><b>Mobile Number</b></label>
      <input type="tel" id="phone" formControlName="phone" class="form-control" />
    </div>
    <div class="form-group">
      <label for="email"><b>Email Address</b></label>
      <input type="email" id="email" formControlName="email" class="form-control" />
    </div>
    <div class="forgot-form-btn">
      <button value="submit" class="btn btn-primary">Reset</button>
    </div>
  </form>

  <div class="login">
    <a tabindex (click)="goToLogin()">Go back to login</a>
  </div>
</div>