.container-forgot {
  display: grid;
  height: 100vh;
  justify-content: center;
  align-content: center;
  .forgot-title {
      margin: 50px 0px;
      text-align: center;
  }
  .forgot-form {
    padding: 20px;
    .form-control {
        display: inline-grid;
    }
    .forgot-form-btn {
        padding: 20px 0px;
    }
  }
  .login {
    margin: 50px 0px;
    text-align: center;

  }
}
